.left {
    float: left;
}
.right {
    float: right;
}
li {
    display: inline;
    padding: 10px;
}
ul {
    list-style-type: disc;
}
#google-logo {
   position: fixed;
   top: 50%;
   left: 50%;
}